# **Data Types and Structures Questions**

# **Q1. What are data structures, and why are they important?**

Data structures are organized ways to store, manage, and retrieve data efficiently. They include arrays, linked lists, stacks, queues, trees, and graphs. They are crucial for optimizing algorithms, enhancing performance, and solving complex problems in computing, enabling efficient data access, manipulation, and storage in software development and computer science.

# **Q2. Explain the difference between mutable and immutable data types with examples**

Mutable data types can be changed after creation, while immutable data types cannot.  

### **Mutable Data Types:**  
- Lists (`list`): `my_list = [1, 2, 3]; my_list.append(4)` → `[1, 2, 3, 4]`  
- Dictionaries (`dict`): `my_dict = {"a": 1}; my_dict["b"] = 2` → `{"a": 1, "b": 2}`  

### **Immutable Data Types:**  
- Strings (`str`): `"hello"[0] = "H"` ❌ (Error)  
- Tuples (`tuple`): `(1, 2, 3)[0] = 4` ❌ (Error)  

Mutability affects memory usage, performance, and security, influencing how data is stored and manipulated in programming.

# **Q3.What are the main differences between lists and tuples in Python?**

Lists are mutable, allowing modifications, while tuples are immutable, preventing changes after creation. Lists use more memory and are slower due to dynamic resizing, whereas tuples are memory-efficient and faster. Lists support more built-in functions, while tuples provide data integrity. Lists use square brackets (`[ ]`), and tuples use parentheses (`( )`). Tuples are ideal for fixed data, while lists are suitable for dynamic collections.

# **Q4.Describe how dictionaries store data**

Dictionaries in Python store data as key-value pairs using a **hash table**. Each key is hashed to determine its unique memory location, enabling fast lookups, insertions, and deletions. Keys must be immutable (e.g., strings, numbers, tuples), while values can be any data type. Dictionaries maintain order (Python 3.7+), ensuring efficient data retrieval. Their optimized structure allows quick access compared to lists and tuples.

# **Q5.Why might you use a set instead of a list in Python?**

You might use a set instead of a list in Python for the following reasons:

1. **Uniqueness**: Sets automatically remove duplicate values, ensuring only unique items.
2. **Faster membership testing**: Sets provide faster lookups (O(1) on average) compared to lists (O(n)).
3. **Mathematical operations**: Sets support operations like union, intersection, and difference, which are useful for set theory-based problems.
4. **Efficiency**: Sets use less memory for large collections of unique items than lists.

# **Q6.What is a string in Python, and how is it different from a list?**

A string in Python is a sequence of characters enclosed in quotes (single, double, or triple). It is immutable, meaning it cannot be modified after creation. A list, on the other hand, is a mutable collection that can store various data types (including strings) and supports modifications like appending or changing elements. Strings are for text manipulation, while lists are versatile containers for ordered collections of any data type.

# **Q7. How do tuples ensure data integrity in Python?**

Tuples ensure data integrity in Python by being immutable, meaning once created, their elements cannot be altered, added, or removed. This guarantees that the data remains unchanged throughout the program. Since tuples cannot be modified, they prevent accidental or intentional data corruption, offering reliability when used to represent constant data. Their immutability makes them useful for ensuring the integrity of critical values in functions or across programs.

# **Q8. What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a data structure that stores key-value pairs, using a hash function to compute an index (hash) where the value is stored. In Python, dictionaries use a hash table to efficiently map keys to their corresponding values. This allows for fast lookups, insertions, and deletions, typically with constant time complexity (O(1)) on average. The keys in a dictionary are hashed to ensure quick access.

# **Q9. Can lists contain different data types in Python?**

es, in Python, lists can contain elements of different data types, such as integers, strings, floats, and even other lists.his flexibility allows for versatile data structures.or example, a list can be defined as `my_list = [1, "hello", 3.14, True]`, where it contains an integer, a string, a float, and a boolean value.

# Q10. **Explain why strings are immutable in Python**

 Python, strings are immutable, meaning their content cannot be changed after creation.his design choice enhances performance by allowing memory optimization techniques like interning and copy-on-write.t also ensures hash consistency, making strings reliable keys in dictionaries.dditionally, immutability provides thread safety, as strings can be shared across threads without synchronization concerns.verall, immutability leads to safer and more predictable code.citeturn0search1

# **Q11. What advantages do dictionaries offer over lists for certain tasks?**

ictionaries in Python offer efficient data retrieval through unique keys, enabling rapid lookups compared to lists.hey provide a clear association between keys and values, enhancing code readability.ictionaries are ideal for representing structured data, such as mappings or records, where relationships between elements are crucial.owever, unlike lists, dictionaries do not maintain element order.

# **Q12.Describe a scenario where using a tuple would be preferable over a list**

 Python, tuples are immutable and can be used as keys in dictionaries, whereas lists are mutable and cannot.herefore, when you need to create a composite key for a dictionary, using a tuple is preferable.or example, to map coordinates to city names, you can use a tuple as the key: `locations = {(40.7128, -74.0060): "New York", (34.0522, -118.2437): "Los Angeles"}`.his ensures the keys remain unchanged.

# **Q13.How do sets handle duplicate values in Python?**

Python, sets automatically eliminate duplicate values upon creation or insertion.hen a set is initialized or an element is added, any duplicate entries are discarded, ensuring each element is unique.or example, `my_set = {1, 2, 2, 3}` results in `{1, 2, 3}`.his behavior is fundamental to sets, which are designed to store only unique items.

# **Q14.How does the “in” keyword work differently for lists and dictionaries?**

In Python, the `in` keyword is used to check for the presence of an element within a collection.hen applied to a **list**, `in` checks if a specified value exists among the list's elements.or example, `3 in [1, 2, 3]` returns `True`.n contrast, when used with a **dictionary**, `in` checks for the existence of a specified key, not a value.or instance, in `my_dict = {'a': 1, 'b': 2}`, `'a' in my_dict` returns `True`, while `1 in my_dict` returns `False`.o check for a value in a dictionary, you can use `'value' in my_dict.values()`.

# **Q15.Can you modify the elements of a tuple? Explain why or why not**

In Python, tuples are immutable, meaning their elements cannot be changed after creation.his immutability ensures that once a tuple is defined, its contents remain constant throughout the program.ttempting to modify an element of a tuple will result in a `TypeError`.owever, if a tuple contains mutable elements, such as lists, the mutable elements can be changed, but the tuple's structure itself remains unchanged.

# **Q16. What is a nested dictionary, and give an example of its use case?**

In Python, a nested dictionary is a dictionary within another dictionary, allowing for hierarchical data storage. This structure is useful for representing complex data relationships. For example, managing a company's departments and employees:

In [ ]:
company = {
    'Sales': {'Alice': 'Manager', 'Bob': 'Salesperson'},
    'IT': {'Charlie': 'Developer', 'David': 'Analyst'}
}

Here, company contains departments as keys, each mapping to another dictionary of employees and their roles.

# **Q17.Describe the time complexity of accessing elements in a dictionary**

n Python, dictionaries are implemented using hash tables, which allow for efficient data retrieval.he average time complexity for accessing an element by its key is O(1), meaning it takes constant time regardless of the dictionary's size.owever, in the worst-case scenario, such as when many keys hash to the same value (causing collisions), the time complexity can degrade to O(n), where n is the number of elements in the dictionary.his degradation is rare with a good hash function.

# **Q18.In what situations are lists preferred over dictionaries?**

In Python, lists are your go-to when you need an ordered, mutable collection that allows duplicates. They're perfect for sequences where the position of elements matters, like iterations or indexing. If you're dealing with homogeneous data without the need for key-value pairs, lists keep things straightforward. Think of them like a train—order is crucial, and each car (element) holds its place.

# **Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

In Python, dictionaries are unordered because they store key-value pairs using a hash function, which assigns keys to positions in memory without considering insertion order. This means when you iterate over a dictionary, the items may appear in an unpredictable order. Data retrieval is efficient—accessing values by keys is fast (O(1) time)—but you can't rely on item order, which can be problematic if your code depends on sequence.

# **Q20.Explain the difference between a list and a dictionary in terms of data retrieval.**

In Python, lists are ordered collections accessed by integer indices—like grabbing books from numbered shelves using `my_list[0]`. Retrieval is fast, and the items maintain their sequence. Dictionaries are unordered collections accessed by unique keys—like retrieving items from a locker using `my_dict['key']`. They offer quick lookups but don't preserve order. The key difference: lists retrieve by position with order intact; dictionaries retrieve by key without guaranteed order.

# **PRACTICAL QUESTION**

# **Q1.Write a code to create a string with your name and print it**

In [ ]:
# Define a string variable with my name
my_name = "ANAS"

# Print the string to the console
print(my_name)

ANAS

Q2. Write a code to find the length of the string "Hello World"

In [ ]:
len("Hello World")

11

# **Q3.Write a code to slice the first 3 characters from the string "Python Programming"**

In [ ]:
# Define the original string
original_string = "Python Programming"

# Slice the first three characters
first_three_chars = original_string[:3]

# Print the result
print(first_three_chars)

Pyt

# **Q4.Write a code to convert the string "hello" to uppercase**

In [ ]:
# Define the original string
original_string = "hello"

# Convert the string to uppercase
uppercase_string = original_string.upper()

# Print the result
print(uppercase_string)

HELLO

# **Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [ ]:
# Original string
original_string = "I like apple"

# Replace "apple" with "orange"
modified_string = original_string.replace("apple", "orange")

# Print the result
print(modified_string)

I like orange

# **Q6.Write a code to create a list with numbers 1 to 5 and print it**

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

# **Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [ ]:
# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 10]

# **Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [ ]:
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
numbers.remove(3)

# Print the updated list
print(numbers)

[1, 2, 4, 5]

# **Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [ ]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(second_element)

b

Q10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
# Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list in place
numbers.reverse()

# Print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

# **Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
# Creating a tuple
my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

# **Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [ ]:
# Creating the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element
second_to_last = colors[-2]

# Printing the element
print(second_to_last)

blue

# **Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
# Creating the tuple
numbers = (10, 20, 5, 15)

# Finding the minimum number
min_number = min(numbers)

# Printing the minimum number
print(min_number)

5

# **Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
# Creating the tuple
animals = ('dog', 'cat', 'rabbit')

# Finding the index of 'cat'
index_of_cat = animals.index('cat')

# Printing the index
print(index_of_cat)

1

# **Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
# Creating a tuple with three fruits
fruits = ('apple', 'banana', 'orange')

# Checking if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

# **Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
# Creating a set
my_set = {'a', 'b', 'c'}

# Printing the set
print(my_set)

{'c', 'a', 'b'}

# **Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
# Creating the set
my_set = {1, 2, 3, 4, 5}

# Clearing all elements from the set
my_set.clear()

# Printing the set after clearing
print(my_set)

set()

# Q18. **Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [ ]:
# Creating the set
my_set = {1, 2, 3, 4}

# Removing the element 4
my_set.remove(4)

# Printing the set after removal
print(my_set)

{1, 2, 3}

# **Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
# Creating the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union using .union() method
union_set = set1.union(set2)

# OR using the | operator
# union_set = set1 | set2

# Printing the result
print(union_set)

{1, 2, 3, 4, 5}

# **Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
# Creating the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection using .intersection() method
intersection_set = set1.intersection(set2)

# OR using the & operator
# intersection_set = set1 & set2

# Printing the result
print(intersection_set)

{2, 3}

# **Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
# Creating the dictionary
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

# Printing the dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

# **Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
# Creating the dictionary
my_dict = {'name': 'John', 'age': 25}

# Adding a new key-value pair
my_dict['country'] = 'USA'

# Printing the updated dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

# **Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}**

In [ ]:
# Creating the dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Accessing the value using indexing
name_value = my_dict['name']

# OR using the .get() method
# name_value = my_dict.get('name')

# Printing the value
print(name_value)

Alice

# **Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
# Creating the dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age" using .pop()
my_dict.pop('age')

# OR using del statement
# del my_dict['age']

# Printing the updated dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

# **Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [ ]:
# Creating the dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key "city" exists
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

# **Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

# **Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)**

In [ ]:
import random

# Generating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [9, 14, 32, 34, 45]

# **Q28.Write a code to create a list with strings and print the element at the third index.**

In [ ]:
# Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index (index 3)
print("Element at third index:", my_list[3])

Element at third index: date

# **Q29.Write a code to combine two dictionaries into one and print the result.**

In [ ]:
# Creating two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combining the dictionaries using update() method
combined_dict = dict1.copy()  # Create a copy to avoid modifying dict1
combined_dict.update(dict2)

# OR using the | operator (Python 3.9+)
# combined_dict = dict1 | dict2

# Printing the combined dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# **Q30. Write a code to convert a list of strings into a set.**

In [ ]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
my_set = set(my_list)

# Printing the set
print("Set:", my_set)

Set: {'cherry', 'apple', 'banana'}